// colors
$color-white: #fff;
$color-grey: #c7c7d1;
$color-dark-grey: #393b48;
$color-light-blue: #0082f4;
$color-dark-blue: #002f58;
$color-white-green: #00c700;
$color-dark-green: #00a000;
$color-red: #f00;
$color-dark-red: #b60000;

// media
$device-medium: 1200px;
$device-medium2: 800px;
