@import 'styles/variables';

.project__list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &_item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin: 5px;
        width: 300px;
        height: auto;
        padding: 10px;
        background: $color-grey;
        border-radius: 15px;

        > * {
            margin: 5px 0;
        }
    }
}
