@import 'styles/variables';

.header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: $color-grey;
    display: flex;
    border-bottom: 1px solid $color-light-blue;

    &_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        color: $color-dark-blue;
    }

    &_item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100px;
        height: auto;
        color: $color-dark-blue;
        margin-left: 5px;
        padding-top: 4px;
        border-bottom: 4px solid transparent;

        &:hover {
            border-bottom: 4px solid $color-light-blue;
            transition: all 0.5s ease-out;
        }
    }
}
